<!doctype html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta name="description" content="トラストレンタリース">
<meta name="viewport" content="width=device-width,initial-scale=1">
<%# <meta name="viewport" content="width=device-width"> %>
<title>Trust-Rentalease | 大阪　激安　レンタカー</title>
<link rel="stylesheet" media="all" href="css/style.css">
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="js/script.js"></script>
</head>

<body>

<nav id="mainnav">
	<p id="menuWrap"><a id="menu"><span id="menuBtn"></span></a></p>
	<div class="panel">
        <ul>
            <a href="#header"><img src="/assets/logoH.png" alt="logo"></a>
			<li><a href="#header">TOP</a></li>
			<li><a href="#news">お知らせ</a></li>
			<li><a href="#tips">ご利用</a></li>
			<li><a href="#car">車種</a></li>
			<li><a href="#sec04">ご注意</a></li>
            <li><a href="#questions">よくあるご質問</a></li>
			<li><a href="#about">会社概要</a></li>
		</ul>
	</div>
</nav>
<%# <nav id="talButton">
	<a href="tel:080-2540-8422">080-2540-8422</a>
</nav> %>
<nav id="mobile-nav">
    <!-- モバイル用のナビゲーションメニュー -->
	<a href="#header"><img src="/assets/logoH.png" alt="logo"></a>
	<div class="hamburger">
		<span></span>
		<span></span>
		<span></span>
	</div>
	<nav class="globalMenuSp">
		<ul>
			<li><a href="#news">お知らせ</a></li>
			<li><a href="#tips">ご利用</a></li>
			<li><a href="#car">車種</a></li>
			<li><a href="#sec04">ご注意</a></li>
            <li><a href="#questions">よくあるご質問</a></li>
			<li><a href="#about">会社概要</a></li>
		</ul>
	</nav>
</nav>


<header id="header">
	<%# <img src="/assets/logoH.png" alt="logo" width="400" height="300"> %>
	<div id="slogan">
		<h1>Miyake Trust Rentalease</h1>
		<h2>大阪　激安のレンタカー</h2>
	</div>
</header>

<!-- VISION -->
<section id="news">
	<header>
		<h2>開業記念キャンペーン開催中‼︎</h2>
	</header>
	<div class="vision">
		格安でミニバン、ワゴン車をレンタルできます。(ノア・VOXY・アルファードなど)
		ご自宅で借りてご自宅で返却可能なので、ご来店が不要です 。
		茨木の地に新たなレンタカー登場‼︎
		ウーバーレンタカー‼︎
		ご自宅までお車をお届け致します‼︎
		
	</div>
</section>
<!-- // VISION -->

<!-- MESSAGE -->
<section id="tips">
	<div class="wrap">
		<p class="bg"><img src="/assets/test.jpg" width="200" height="180" alt=""></p>
		<div class="txt">
			<div class="vMid">
				<h2>選ばれる理由</h2>
				<p>「ウーバーレンタカー」という新たなスタイルのレンタカー
				レンタカーを借りたいけど、取りに行く手段がない、取りに行くのが面倒くさい・・・
				レンタカーを借りに行く手間も返しにいく手間も必要ありません。弊社スタッフがご自宅までお届け、回収に伺います。
				ミニバン・ワゴンのレンタルで、旅行やアウトドア、お引っ越しなど荷物が多くても、大人数でも安心！
				
			</div>
		</div>
	</div>
	<div id="sec02_02" class="wrap">
		<p class="bg"><img src="/assets/deal.png" alt=""></p>
		<div class="txt">
			<div class="vMid">
				<h2>ご利用までの流れ</h2>
                <p>①お電話で問い合わせ＆打ち合わせ<br>
                    ご利用日数、お届け場所、日時、車種などの打ち合わせ(５分程度)をいたします
                </p>
                <p>②当日、弊社スタッフがご指定の場所までお車をお届け</p>
                <p>③現場で車両の傷などのご確認、貸渡書のサイン、お支払い</p>
                <p>④出発</p>
                <p>⑤お引き取り<br>
                    お打ち合わせの際にお伺いした日時、場所に弊社スタッフがお伺いしお車を回収いたします。
                </p>
			</div>
		</div>
	</div>
</section>
<!-- // MESSAGE -->

<!-- SERVICE -->
<section id="car">
	<div class="inner">
		<ul class="col3">
			<li>
				<h2>ノア</h2>
				<div class="slider">   
					<div><img src="/assets/noa/noa1.jpg"></div>
					<div><img src="/assets/noa/noa2.jpg"></div>   
					<div><img src="/assets/noa/noa3.jpg"></div>
					<div><img src="/assets/noa/noa4.jpg"></div>
					<div><img src="/assets/noa/noa5.jpg"></div>
					<div><img src="/assets/noa/noa6.jpg"></div>
					<div><img src="/assets/noa/noa7.jpg"></div>
					<div><img src="/assets/noa/noa8.jpg"></div>
				</div>
				<%# <img src="/assets/car1.jpg" width="288" height="288" alt=""> %>
				<p>型番：ZRR70</p>
                <p>８人乗り</p>
                <p>ご利用料金</p>
				<p>通常価格：¥16,600(税込)</p>
				<p>↓</p>
				<p style="color:red; font-weight:bold;">開業記念キャンペーン価格:</p>
                <p style="font-weight:bold; font-size: 20px;">¥10,000（税込）</p>
			</li>
			<li>
				<h2>VOXY</h2>
				<img src="/assets/car2.jpg" width="288" height="288" alt="">
                <p>型番：</p>
                <p>金額：</p>
			</li>
			<li>
				<h2>アルファード</h2>
				<div class="slider">   
					<div><img src="/assets/alphard/alphard1.jpg"></div>
					<div><img src="/assets/alphard/alphard2.jpg"></div>   
					<div><img src="/assets/alphard/alphard3.jpg"></div>
					<div><img src="/assets/alphard/alphard4.jpg"></div>
					<div><img src="/assets/alphard/alphard5.jpg"></div>
					<div><img src="/assets/alphard/alphard6.jpg"></div>
					<div><img src="/assets/alphard/alphard7.jpg"></div>
					<div><img src="/assets/alphard/alphard8.jpg"></div>
					<div><img src="/assets/alphard/alphard9.jpg"></div>
					<div><img src="/assets/alphard/alphard10.jpg"></div>
				</div>
				<%# <img src="/assets/car3.jpg" width="288" height="288" alt=""> %>
                <p>型番：ANH10</p>
                <p>８人乗り</p>
                <p>ご利用料金</p>
				<p>通常価格：¥16,600(税込)</p>
				<p>↓</p>
				<p style="color:red; font-weight:bold;">開業記念キャンペーン価格:</p>
                <p style="font-weight:bold; font-size: 20px;">¥10,000（税込）</p>
			</li>
		</ul>
	</div>
</section>



<!-- // SERVICE -->

<!-- STORY --> 
<section id="sec04">
	<div class="inner">
		<ul class="col2">
			<li>
				<h2>自動車保険のご案内</h2>
				<p>万一事故が起きた場合は下記補償額の範囲で補償致します。</p>
				<p>●対人補償 無制限 (自賠責保険を含む)</p>
				<p>●対物補償 無制限 (免責額0万円) </p>
				<p>●人身傷害補償 3000万円 </p>
				<p>●車輌補償 なし</p>
				<p>上記の保険の内容がご利用料金に含まれております。</p>
				<p>東京海上日動火災保険株式会社</p>
			
			</li>
			<li>
				<h2>注意事項</h2>
                <p></p>
				<p>ご利用料金は、自動車保険料・ETC・カーナビ・バックカメラ・配車回収費用　全て含んだ料金です。</p>
				<p>配送料として別途追加費用は発生致しません。</p>
                <p>ご予約はお早めにお願いいたします。当日キャンセル以外はキャンセル料無料です。</p>

                <p>燃料は満タンでお持ちいたしますので、満タン返しでお願いします。</p>
                <p>時間ごとの貸し出しはしていません。</p>

				<br>
                <p>
                個人情報保護のため、ご予約や配車のお打ち合わせは全て電話でのみご対応させていただきます。また、お打ち合わせには５分程度お時間を頂戴いたします。お電話が繋がるまでお時間がかかることがございます。ご了承下さいませ。</p>
                <br>
				<p>お問い合わせはInstagramのダイレクトメール(DM)からも可能です。</p>
				<br>
                <p>お支払いは、お車をお届けの際に、現金またはクレジットカードでご清算いただきます。</p>
                <p>詳しくはお気軽にお電話ください!08025408422</p>
				
            </li>
		</ul>
	</div>
</section>
<!-- // STORY -->
<section id="questions">
	<header>
		<h2>よくあるご質問</h2>
	</header>
		<div class="s_section">
		<div class="accordion_area gutter">
			<div class="accordion_one">
				<div class="ac_header">
					<div class="p-faq__headinner">
						<p class="p-faq__q-txt">軽自動車やコンパクトカーはありますか？</p>
					</div>
					<div class="i_box"></div>
				</div>
				<div class="ac_inner">
					<div class="p-faq__bodyinner">
						<p class="p-faq__a-txt">取り扱い車種は、ミニバンやワゴン車など大人数が乗れる大きな車のみとなります。</p>
					</div>
				</div>
			</div>
			<div class="accordion_one">
				<div class="ac_header">
					<div class="p-faq__headinner">
						<p class="p-faq__q-txt">Bluetoothは付いてますか？</p>
					</div>
					<div class="i_box"></div>
				</div>
				<div class="ac_inner">
					<div class="p-faq__bodyinner">
						<p class="p-faq__a-txt">全車種にBluetooth付きのナビ、バックカメラ、ETC車載器を装備しております。追加料金は発生しません。</p>
					</div>
				</div>
			</div>
			<div class="accordion_one">
				<div class="ac_header">
					<div class="p-faq__headinner">
						<p class="p-faq__q-txt">大阪府以外で配車は可能ですか？</p>
					</div>
					<div class="i_box"></div>
				</div>
				<div class="ac_inner">
					<div class="p-faq__bodyinner">
						<p class="p-faq__a-txt">可能です。兵庫県、京都府、和歌山県、奈良県、滋賀県への配送の場合は、遠方配送料1,500円を別途頂戴致します。（関西圏外への配送はお断りしております。）</p>
					</div>
				</div>
			</div>
			<p>※その他のご質問はお気軽にお電話ください。</p>
</section>
<!-- PROFILE -->
<section id="about">
	<header>
		<h2>会社概要</h2>
	</header>
	<div class="inner">
		<ul class="col2">
			<li>
				<dl>
					<dt>社名</dt>
					<dd>有限会社ミヤケ トラストレンタリース</dd><br>
					<dt>代表</dt>
					<dd>伊藤　春希</dd><br>
					<dt>住所</dt>
					<dd>〒567-0878</dd>
                    <dd>大阪府茨木市蔵垣内3丁目5-10</dd><br>
					<dt>電話番号</dt>
					<dd>080-2540-8422</dd><br>
					<dt>営業時間</dt>
					<dd>09:00~19:00</dd><br>
					<dt>設立</dt>
					<dd>2023年5月</dd>
					<%# <dt>主な取引先</dt> %>
					<%# <dd><p><a href="#" target="_blank">見本商事株式会社</a></p><p><a href="#" target="_blank">株式会社年中無休商事</a></p><p><a href="#" target="_blank">株式会社仮称</a></p></dd> %>
				</dl>
			</li>
			<li>
				<div id="map">
					<!-- GOOGLE MAP -->
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1134.7711472383758!2d135.55469965306102!3d34.79357494986549!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6000e38300d1e447%3A0x80bdf9015bd0a01f!2z44OI44Op44K544OI44Os44Oz44K_44Oq44O844K5!5e0!3m2!1sja!2sjp!4v1689460099355!5m2!1sja!2sjp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>					<!-- // GOOGLE MAP -->
				</div>
			</li>
		</ul>
	</div>
</section>
<!-- // PROFILE -->

<footer id="footer">
	
</footer>

</body>
</html>
<script type="text/javascript">
	$('.slider').slick({
		autoplay: true,       //自動再生
		autoplaySpeed: 2000,  //自動再生のスピード
		speed: 800,           //スライドするスピード
		dots: true,           //スライド下のドット
		arrows: true,         //左右の矢印
		infinite: true,       //永久にループさせる
	});
	$('a[href^="#"]').click(function () {
		const adjust = 65;
		const speed = 600;
		let href = $(this).attr("href");
		let target = $(href == "#" || href == "" ? "html" : href);
		let position = target.offset().top - adjust;
		$("body,html").animate({ scrollTop: position }, speed, "swing");
		return false;
	});


	$(function() {
		$('.hamburger').click(function() {
			$(this).toggleClass('active');
			if ($(this).hasClass('active')) {
				$('.globalMenuSp').addClass('active');
			} else {
				$('.globalMenuSp').removeClass('active');
			} 
		
		});
	});
	//メニュー内を閉じておく
	$(function() {
		$('.globalMenuSp a[href]').click(function() {
			$('.globalMenuSp').removeClass('active');
		$('.hamburger').removeClass('active');

		});
	});
	$(function(){
		$('.accordion_one .ac_header').click(function(){
			$(this).next('.ac_inner').slideToggle();
			$(this).toggleClass("open");
		});
	});
</script>